{% extends "base.jinja" %}
{% block content %}        
<h1>Leave a note</h1>
{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %}
<form action="" method="post" name="mention">
    Note: {{form.note(size=60)}}
    {{form.hidden_tag()}}
    <p><button type="submit">Add Note</button></p>
</form>

{% if not authed %}
<form action="https://bear.im/login">
    <input name="from_uri" type="hidden" value="https://bear.im/note">
    <input type="submit" value="Login">
</form>
{% endif %}
{% endblock content %}
